#gjs {
	border: 1px solid #ddd;
}

.gjs-cv-canvas {
	top: 0;
	width: 100%;
	height: 100%;
}

.gjs-block {
	width: auto;
	height: auto;
	min-height: auto;
	min-width: 200px;
}

.top_panel {
	padding: 0;
	width: 100%;
	display: flex;
	position: initial;
	justify-content: center;
	justify-content: space-between;
}

.btns_panel {
	position: initial;
}
